.login{
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #fafafa;
    min-height: 30vh;
    padding: 100px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
    border-radius: 20px;

}
.login >img{
    height: 200px;
    /* width: 100vw; */
    /* background-color: green; */
}
.login > .MuiButtonBase-root {
    margin-top: 40px;
    width: 100%;
    color: white;
    background-color: #0a8d48;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
}
.login > .MuiButtonBase-root:hover{
    color: #0a8d48;
}